
@model IEnumerable<MVC_Assessment1_2_.Models.Movies>

@foreach (var movie in Model)
{
    <div>
        <h4>@movie.Movie_Name</h4>

        <p>@movie.DateofRelease.ToShortDateString()</p>
    </div>
}